
   .midnotadmin{
    padding-top: 10%;
    padding-bottom: 7%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .midnotadmin img{
    width: 60%;
    margin: auto;
  }
  .msgnotadmin{
    margin: auto;
    color: white;
    font-size: 40px;
  }
  