body {
    background-image: url(https://wallpaperaccess.com/full/56591.png);
    opacity: 0.90;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10%;
    margin-top: 50px;
}

h2 {
    color: white;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    font-size: 200%;
}

table {
    border-collapse: collapse;
    line-height: 50px;
    width: 90%;
}

    thead {
        border-bottom: solid 2px white;
        text-transform: uppercase;
        color: white;
    }

    tr {
        border-bottom: solid 1px rgba(255, 255, 255, 0.454);
    }

    td {
        text-align: center;
        color: white;
      }
      
    i {
        color: white;
    } 