body {
    background-image: url(https://wallpaperaccess.com/full/56591.png);
    opacity: 0.90;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#classement {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 150%;
    
}

table {
    border: solid 2px white;
    margin-bottom: 250px;
    border-collapse: collapse;
}
    th {
        border-bottom: solid 2px white;;
        width: 150px;
    }
    td {
        text-align: center;
    }   