#classement{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 150%;
    
}

table{
    border: solid 2px white;
    margin-bottom: 250px;
}
    th{
        border-bottom: solid 2px white;;
        width: 150px;
    }
    td{
        align-items: center;
    }   