@import url('https://fonts.cdnfonts.com/css/western');


body {
    background-image: url(https://wallpaperaccess.com/full/56591.png);
    opacity: 0.9;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
}

main{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Western', sans-serif;
    letter-spacing: 2px;
}

.formulaire {
    background-image: url(https://us.123rf.com/450wm/ke77kz/ke77kz1702/ke77kz170200205/72665903-fond-de-papier-jaune-vieilli-pour-la-conception-.jpg?ver=6);
    background-size: cover;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    border-radius: 5px;
    padding: 30px;
    width: 30%;
    font-size: 120%;
}

.formulaire h2 {
    border-bottom: solid 2px #891b0c;
    color: #891b0c;
    font-size: 150%;
    padding-bottom: 20px;
    margin-bottom: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
    }

.formulaire h3 {
    font-size: 120%;
    padding-bottom: 20px;
    margin-bottom: 10px;
    color: #891b0c;
    display: flex;
    width: 100%;
    justify-content: center;
    }

    .formulaire label {
        display: flex;
        justify-content: center;
        width: 80%;
        font-size: 90%;
    }

    .formulaire input {
        width: 80%;
        height: 50px;
        border-radius: 5px;
        border: 1px solid #6B4B3E;
        outline-color: #891b0c;
        background-color: moccasin;
        font-size: 100%;
        font-family: 'Western', sans-serif;
        opacity: 0.7;
        color: black;
    }
    
    .formulaire button {
        height: 40px;
        font-size: 100%;
        border-radius: 5px;
        background-color: #891b0c;
        color: white;
        border: none;
        width: 50%;
        font-family: 'Western', sans-serif;
    }

    .formulaire button:hover {
        transform: scale(1.05);
        transition-duration: 0.5s;
    }
