
body {
    background-image: url("index_img.jpg");
    opacity: 0.90;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    height: 900px;
}

main {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 150%;
    color: black;
    align-items: center;
    font-family: 'Western', sans-serif;
    height: 1000px;
}

#smartphone {
    display: none;
}

#accueil_img {
    position: relative;
    top: 500px;
    right: 700px; 
    height: 400px;
}

#panneau_accueil h2 {
    position: relative;
    top: 110px;
    right: 685px;
    color: white;
    font-size: 220%;
    line-height: 60px;
}

#best_players_img1 {
    height: 250px;
    position: relative;
    bottom: 690px;
    right: 150px;
}

#most_active {
    position: relative;
    bottom: 875px;
    right: 120px;
    line-height: 5px;
    font-size: 90%;
}

#best_players_img2 {
    height: 250px;
    position: relative;
    bottom: 1050px;
    left: 30px;  
}

#mvp {
    position: relative;
    bottom: 1237px;
    left: 40px;
    line-height: 5px;
    font-size: 90%;
}

@media screen and (max-width:920px) {

    body {
        background-image: url(https://wallpaperaccess.com/full/56591.png);    
        opacity: 0.90;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin: 0;
        height: 880px;
    }

    main {
        margin-left: 5%;
        margin-right: 5%;
        font-size: 100%;
        height: 800px;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    #panneau_accueil {
        display: none;
    }

    #smartphone {
        width: 90%;
        margin-top: 60px;
        display: flex;
        align-items: center;
        flex-direction: column;
        color: white;
        }

    #smartphone button {
        height: 40px;
        font-size: 100%;
        border-radius: 5px;
        background-color: #891b0c;
        color: white;
        border: none;
        width: 90px;
        font-family: 'Western', sans-serif;
        margin-bottom: 20px;
    }
    
    #best_players{
        display: flex;
    }

    #best_players_img1 {
        height: 150px;
        position: unset;
        
    }
    
    #most_active {
        position: absolute;
        line-height: 2px;
        font-size: 90%;
        left: 85px;
        bottom: 450px;
    }
    
    #best_players_img2 {
        height: 150px;
        position: unset;     
    }
    
    #mvp {
        position: absolute;
        line-height: 2px;
        font-size: 80%;
        left: 186px;
        bottom: 450px;
    }
}
