
body {
    background-image: url(https://img.static-rmg.be/a/view/q75/w/h/4264789/7b3a5f1da9a8a561eb640324335a6e8a-jpg.jpg);
    opacity: 0.90;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    height: 900px;
}

main {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 150%;
    color: black;
    align-items: center;
    font-family: 'Western', sans-serif;
    padding-bottom: 150px;
}

#smartphone {
    display: none;
}

#accueil_img{
    position: relative;
    top: 500px;
    right: 700px; 
    height: 400px;
}

#panneau_accueil h2{
    position: relative;
    top: 110px;
    right: 685px;
    color: white;
    font-size: 220%;
    line-height: 60px;
}

@media screen and (max-width:920px) {

    body {
        background-image: url(https://wallpaperaccess.com/full/56591.png);    
        opacity: 0.90;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin: 0;
        height: 850px;
    }

    main {
        margin-left: 5%;
        margin-right: 5%;
        font-size: 100%;
    }

    #panneau_accueil {
        display: none;
    }

    #smartphone {
        width: 90%;
        margin-top: 60px;
        display: flex;
        align-items: center;
        flex-direction: column;
        color: white;
        }

    #smartphone button {
        height: 40px;
        font-size: 100%;
        border-radius: 5px;
        background-color: #891b0c;
        color: white;
        border: none;
        width: 90px;
        font-family: 'Western', sans-serif;
        margin-bottom: 20px;
    }
}
