
body {
    background-image: url(https://wallpaperaccess.com/full/56591.png);
    opacity: 0.90;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'PT Sans Narrow', sans-serif;
    margin: 0;
}

main {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 150%;
    color: white;
}

    main h2 {
        margin-bottom: 30px;
    }

    main p {
        margin-bottom: 20px;
    }

#accueil {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

    #accueil_texte {
        display: flex;
        flex-direction: column;
        width: 65%;
    }

    #accueil_stats {
        display: flex;
        flex-direction: column;
        border-left: solid 2px white;
        padding-left: 5%;
        width: 25%;
    }

#stats {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 300px;
}

@media screen and (max-width:920px) {
    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-left: 5%;
        margin-right: 5%;
        font-size: 100%;
    }
}
