
body {
    background-image: url(https://wallpaperaccess.com/full/56591.png);
    opacity: 0.90;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h2 {
    color: #891b0c;
}

h3 {
    color: black;
}

h4 {
    color: black;
}

p {
    color: black;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 100%;
}

#Pendu {
    background-image: url("https://st3.depositphotos.com/1782409/16213/v/600/depositphotos_162136934-stock-illustration-telegram-blank-form.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width:60%;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 500px;
}

#consignes {
    position: relative;
    top: 110px;
    background: none;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
}

#lifes {
    position: relative;
    top : 80px;
}


#aide {
    position: relative;
    top: 100px;
    margin-left: 25px;
    margin-right: 25px;
    background: none;
    width: 100%;
    height: 180px;
    display: flex;
    flex-wrap: wrap;
    padding-right: 10px;
    padding-left: 10px;
    align-items: center;
    font-size: 120%;
}
    #hidden_word {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 90px;
    }

    /* #dessin {
        width: 40%;
        height: 90px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

        #dessin img {
            height: 150px;
            width: 280px;
            background: none;
        } */

    #history {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        height: 90px;
    }

#keyboard {
    position: relative;
    top: 200px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding-right: 10px;
    padding-left: 10px;
}

    #keyboard button {
        background: none;
        width: 60px;
        height: 60px;
        font-size: 150%;
        border-radius: 50px;
        border: solid 2px white;
        background-color: black;
        color: white;
    }

    #keyboard button:hover {
        transform: scale(0.85);
        transition-duration: 0.3s;
    }
    #keyboard button:active {
        transform: scale(0.85);
        transition-duration: 0.3s;
    }

#replay {
    top: 190px;
    width: 100%;
    display: flex;
    justify-content: center;
}

    #reset_button {
        border-radius: 20px;
        border: solid 2px #891b0c;
        color:#891b0c;
        margin-bottom: 20px;
        padding: 10px;
        background-color: #EBD29D;
        width: 100%;
        font-size: 180%;
    }

    #reset_button:hover {
        background-color: gold;
        transition-duration: 0.5s;
    }
    
@media screen and (max-width:920px) {
    main {
        margin: 0;
    }

    #Pendu {
        background-image: url("https://st3.depositphotos.com/1782409/16213/v/600/depositphotos_162136934-stock-illustration-telegram-blank-form.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        width:90%;
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
    }
    
    #consignes {
        position: relative;
        font-size: 60%;
        top: 45px;
        background: none;
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: center;
    }
    
    #lifes {
        position: relative;
        top : 55px;
        font-size: 70%;

    }
      
    #aide {
        position: relative;
        top: -75px;
        font-size: 60%;
        margin-left: 5px;
        margin-right: 5px;
        background: none;
        width: 100%;
        height: 180px;
        display: flex;
    }

        #hidden_word {
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 90px;
        }

        #dessin {
            width: 40%;
            height: 90px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

            #dessin img {
                height: 150px;
                width: 280px;
                background: none;
            }
    
        #history {
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            height: 90px;
        }
    
    #keyboard {
        position: relative;
        top: -70px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }

        #keyboard button {
            background: none;
            width: 40px;
            height: 40px;
            font-size: 150%;
            border-radius: 50px;
            border: solid 2px white;
            background-color: black;
            /* color: black; */
        }
    
        #replay {
            top: 190px;
            width: 100%;
            display: flex;
            justify-content: center;
        }

            #reset_button {
                border-radius: 20px;
                border: solid 2px #891b0c;
                color:#891b0c;
                margin-bottom: 20px;
                padding: 10px;
                background-color: #EBD29D;
                width: 100%;
                font-size: 120%;
            }
            
            #reset_button:hover {
                background-color: gold;
                transition-duration: 0.5s;
            }
}